@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.min-h-150 {
  min-height: 150px;
}

.min-h-600 {
  min-height: 600px;
}

.erc20-logo-size {
  width: 35px;
  height: 35px;
}

.nft-contract-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}